main {
	width: 600px;
    margin: 30px auto;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 0 7px #00000036;

	@media screen and (max-width: 600px) {
		width: 100%;
		margin: 0 auto;
		border-radius: 0;
	}
}

header {
	text-align: center;

	h1 {
		color: var(--dark);
	}

	nav {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		margin: 5px 0 0;
		padding: 5px 0;

		ul {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				margin: 0 10px;
			}

			a {
				display: block;
			}
		}
	}
}
